.img{
    height: 30rem;
    position: relative;
}
.popDetails {
  // header styling:
  background: #f8f9fa;
  position: absolute;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 7%;
  left: 0;
  right: 0;
  -webkit-animation: fadeOut 0.2s;
  animation: fadeOut 0.2s;
  animation-fill-mode: forwards;
  &:hover {
    animation: fadeIn linear 0.2s;
    -webkit-animation: fadeIn linear 0.2s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// .popDetails{
//      // header styling:
//   background: #f8f9fa;
//   z-index: 0;
//   position: absolute;
//   top: 0px;
//   left: 0;
//   right: 0;

//   // our animation-related styles:
//   transform: translate3d(0, 0, 0);
//   transition: mdc-animation-exit-temporary(transform, 250ms);
//   will-change: transform;

//   &.hidden {
//     transition: mdc-animation-enter(transform, 200ms);
//     transform: translate3d(0, -100%, 0);
//   }

// }
